body{
  font-family: sans-serif;
  margin: 0;
  margin-top: 80px;
}
header{
    display: flex;
    position: fixed;
    flex-direction: row;
    background-image: linear-gradient(to right, #663c02, #1f1201);
    justify-content: space-between;
    padding: 5px;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.logo{
    display: flex;
    justify-content: flex-start;
    color: #E8E6D8;
    gap: 15px;
}
.menu{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.but{
    padding: 15px;
    text-align: center;
    text-decoration: none;
    background-color: #24211e;
    color: white;
    border-radius: 10px;
    font-size: medium;
    line-height: 1.1;
    height: 20px;
}

main{
    background-color: #24211e;
    margin: 0;
    padding: 20px;
}
h1, h2 {
    text-align: center;
    color: #e0e0e0; 
}
.map1{
    margin: 50px;
    width: min-content;
    border-radius: 20px;
    background-color: #292929;
    border: 1.5px solid black;
    box-shadow: 0 0 20px 5px rgba(20, 20, 20, 0.6);
    padding: 30px;
}
img{
    border-radius: 20px;
}
/* звичайна картинка */
  .map-thumb {
    cursor: pointer;
    border: 2px solid #00ff55;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,255,0,0.4);
    transition: 0.3s;
  }
  .map-thumb:hover {
    transform: scale(1.02);
  }

  /* повноекранний фон */
  .lightbox {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.95);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  /* коли активований через :target */
  .lightbox:target {
    display: flex;
  }

  .lightbox img {
    max-width: 90%;
    max-height: 90%;
    border: 2px solid #00ff55;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,255,0,0.5);
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #00ff55;
    font-size: 2rem;
    text-decoration: none;
  }
  .close-btn:hover {
    color: #fff;
  }
.container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #1E1B18;
    padding: 20px;
}
.footer_info{
    color: #E8E6D8;
    font-size: medium;
}